﻿@using UniversityManagementSystem.Models
@model UniversityManagementSystem.Models.CourseEnrollViewModel
@{
    List<Student> students = ViewBag.Students;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <p style="color: blue">@ViewBag.Msg</p>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label class="col-md-2 control-label">Student Reg. No.</label>
            <div class="col-md-10">
                @*<select class="form-control" id="StudentId" name="StudentId">
                    <option value="-1">--Select--</option>
                    @if (students != null)
                    {
                        foreach (Student VARIABLE in students)
                        {
                            <option value="@VARIABLE.Id">@VARIABLE.RegistrationNo</option>
                        }
                    }
                </select>*@
                @Html.DropDownListFor(model => model.StudentId, new SelectList(students, "Id", "RegistrationNo"), "--Select--", new { @class = "form-control"})
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Name</label>
            <div class="col-md-10">
                <input type="text" disabled class="form-control" id="StudentName" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Email</label>
            <div class="col-md-10">
                <input type="text" disabled class="form-control" id="Email" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Department</label>
            <div class="col-md-10">
                <input type="text" disabled class="form-control" id="Department" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Select Course</label>
            <div class="col-md-10">
                <select class="form-control" id="CourseId" name="CourseId">
                    <option value="-1">--Select--</option>
                </select>
                <span id="prereqChk" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Date, new { @class = "form-control datePicker" })
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control datePicker", @Value = DateTime.Today.ToString("yyyy-MM-dd") } })
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                @*<input type="text" class="form-control " id="date" name="date" />
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Enroll" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery-1.12.4.min.js"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $(function () {
                $(".datePicker").datepicker({
                     dateFormat: 'mm/dd/yy', type: Text
                }).datepicker("setDate", "0");
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            //debugger;

            $("#StudentId").change(function () {

                var studentId = $("#StudentId").val();
                $("#CourseId").empty();
                $("#CourseId").append('<option value="-1">--Select--</option>');
                $("#StudentName").val("");
                $("#Email").val("");
                $("#Department").val("");
                var student = { StudentId: studentId };
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetStudentById", "CourseEnroll")',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(student),
                    success: function (data) {
                        $("#StudentName").val(data.Name);
                        $("#Email").val(data.Email);
                        $("#Department").val(data.DepartmentName.Name);
                    }
                });
                var courses = { StudentId: studentId };
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetCourseByStudentId", "CourseEnroll")',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(courses),
                    success: function (data) {
                        $.each(data, function (key, value) {
                            $("#CourseId").append('<option value=' + value.Id + '>' + value.Name + '</option>');
                        });
                    }
                });
            });

            $("#CourseId").change(function () {
                $("#prereqChk").html("");
                $(':input[type="submit"]').prop('disabled', false);

                var studentId = $("#StudentId").val();
                var courseId = $("#CourseId").val();
                if (courseId == -1) return;
                //console.log(studentId + " " + courseId);

                var params = { studentId: studentId, courseId: courseId };
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetIncompletePrerequisite", "CourseEnroll")',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(params),
                    success: function (data) {
                        if (data != null) {
                            console.log(JSON.stringify(data));
                            $("#prereqChk").html("Please complete the prerequisite course first. Code: "
                                + data.Code + " Name: " + data.Name + ".");
                            $(':input[type="submit"]').prop('disabled', true);
                        }
                    }
                })
            });
        });
    </script>
}