﻿@using UniversityManagementSystem.Models
@model UniversityManagementSystem.Models.Course

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<Department> departments = ViewBag.Departments;
    List<Semester> semesters = ViewBag.Semesters;
    List<Course> prereqs = ViewBag.Prereqs;
}

<h2>Save Course</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <p style="color: blue">@ViewBag.Msg</p>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Credit, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Credit, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Credit, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Description, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Department</label>
            <div class="col-md-10">
                @*<select class="form-control" name="DepartmentId">
                    <option value="-1">--Select--</option>
                    @if (departments != null)
                    {
                        foreach (var VARIABLE in departments)
                        {
                            <option value="@VARIABLE.Id">@VARIABLE.Name</option>
                        }
                    }
                </select>*@
                @Html.DropDownListFor(model => model.DepartmentId, new SelectList(departments, "Id", "Name"), "--Select--", new { @class = "form-control"})
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Semester</label>
            <div class="col-md-10">
                @*<select class="form-control" name="SemesterId">
                    <option value="-1">--Select--</option>
                    @if (semesters != null)
                    {
                        foreach (var VARIABLE in semesters)
                        {
                            <option value="@VARIABLE.Id">@VARIABLE.Title</option>
                        }
                    }
                </select>*@
                @Html.DropDownListFor(model => model.SemesterId, new SelectList(semesters, "Id", "Title"), "--Select--", new { @class = "form-control"})
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Prerequisite</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.PrerequisiteId, new SelectList(prereqs, "Id", "Name"), "No Prerequisite", new { @class = "form-control"})
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}
