﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Unassign All Course</h2>
<br />

@using (Html.BeginForm())
{
    <p style="color: blue">@ViewBag.Msg</p>
    <button type="submit" class="btn btn-default" id="unassignBtn" value="" name="id"
            style="width: 20%; color: red" onclick="Function()">
        Unassign Courses
    </button>
}

@section scripts
{
    <script type="text/javascript">
        function Function() {
            if (confirm("Are you sure to unassign all courses?")) {
                document.getElementById("unassignBtn").value = true;
            } else {
                document.getElementById("unassignBtn").value = false;
            }
        }
    </script>
}
