﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background: url(https://cdn.theconversation.com/files/39400/width926/j7cvzqvx-1390194792.jpg) no-repeat lavender; background-size: 100% 100%;" >
    <h1>Bangladesh University of Business &amp; Technology</h1>
    <p class="lead">This is well known reputed institute of IT.</p>
    <p><a href="" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Bachelor of Business Administration (BBA)</h2>
        <p style="text-align: justify">
            Bachelor of Business Administration (BBA) at BUBT is a four year professional undergraduate program. It is a full day program that focuses on developing knowledge and skills of the students so that they can undertake the responsibilities as young executives in government, semi-government and private organizations. The BBA program of BUBT is a step forward towards meeting the professional challenges of the 21st century.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>B. Sc. in CSE</h2>
        <p style="text-align: justify">B.Sc. in Computer Science and Information Technology (CSIT) program has been designed to meet the IT needs of the contemporary world. The program preparers today’s students into tomorrow’s IT professionals. The students have the opportunity of applying their knowledge of and skills in different courses in doing a project study at the end of the program. Through the project study the students step into the real into the practical IT world.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>B. Sc. in Textile Engineering</h2>
        <p style="text-align: justify">B. Sc. in Textile Engineering Program of Bangladesh University of Business and Technology (BUBT) has been designed for the students to acquire sufficient knowledge and understanding of the principles and techniques of Textile Sciences. It will provide students with a coordinated understanding, comprehensive knowledge and expertise in all disciplines of Textile. Lectures along with practical classes, seminars, in-plant training, interactive small group teaching and tutorials is a part of the Bachelor of Textile Engineering Program.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>